Caffe-Tutorial-Code/Caffe-Cifar10/Cifar10/data/*
Caffe-Tutorial-Code/Caffe-Cifar10/data/*
Caffe-Tutorial-Code/Caffe-Mnist/mnist-data/validate_lmdb
Caffe-Tutorial-Code/Caffe-Mnist/mnist-data/train_lmdb

